{{#if resume.awards.length}}
<div class="container awards-container">
    {{> title value="Awards"}}

    <div class="awards-list">
        {{#each resume.awards}}
        <div class="award-item">
            <strong>{{title}}</strong>{{#if awarder}} - {{awarder}}{{/if}}
            {{#if date}}<span class="date"> ({{date}})</span>{{/if}}
            {{#if summary}}<br>{{summary}}{{/if}}
            {{#if url}}<br><a href="{{url}}" class="award-url">View Award</a>{{/if}}
        </div>
        {{/each}}
    </div>
</div>
{{/if}}
