{{#if resume.publications.length}}
<div class="container publications-container">
    {{> title value="Blog Posts & Talks"}}

    <ul class="publications-list">
    {{#each resume.publications}}
        <li class="pub-item">
            {{#if url}}
            <a href="{{url}}" target="_blank" rel="noopener noreferrer">
                <span class="pub-title">{{name}}</span>
            </a>
            {{else}}
            <span class="pub-title">{{name}}</span>
            {{/if}}
            {{#if publisher}}
            <span class="pub-venue">{{publisher}}</span>
            {{/if}}
        </li>
    {{/each}}
    </ul>

    <div class="view-all-wrap">
        <a href="https://anand-creations.vercel.app/blog" target="_blank" rel="noopener noreferrer" class="view-all-link">
            View All Publications →
        </a>
    </div>
</div>
{{/if}}
