{{#if resume.work.length}}
<div class="container work-container">
    {{> title value="Work Experience"}}

    {{#each resume.work}}
        <section class="item">
            <div class="section-header clearfix">
                <h3 class="bold pull-left">
                    {{#if url}}
                    <a href="{{url}}" target="_blank">{{name}}</a>
                    {{else}}
                    {{name}}
                    {{/if}}
                    {{#if position}}<span class="work-role-inline">· {{position}}</span>{{/if}}
                </h3>
                <h5 class="italic pull-right">
                    {{#if startDate}}
                    <span class="startDate">{{formatDate startDate}}</span>
                    {{#if endDate}}
                    <span class="endDate"> - {{formatDate endDate}}</span>
                    {{else}}
                    <span class="endDate"> - Present</span>
                    {{/if}}
                    {{/if}}
                </h5>
            </div>

            {{#if keywords.length}}
            <div class="flex-container">
                {{#each keywords}}
                    <h6 class="skill">{{.}}</h6>
                {{/each}}
            </div>
            {{/if}}

            {{#if highlights.length}}
            <ul>
                {{#each highlights}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}
